:root{
    --main-bg-color: #1b1b3a;
    --main-text-color: #eeefff;

    --font-family: 'Roboto', sans-serif;

    --border-color: #8789C0;
    --main-border-width: .1rem;
    --main-border-radius: .5rem;

    --cel-disabled: #3A3A5F;

    --x-color: #FF3562;
    --o-color: #ffbd21;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    height: 100vh;
    position: relative;

    background-color: var(--main-bg-color);
    color: var(--main-text-color);

    font-family: var(--font-family);
}

/* title and players */
header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

header section{
    display: flex;
    gap: 5em;
    justify-content: center;
}

header section p{
    font-size: 1.5rem;
    font-weight: bold;

}

header section p:first-child{
    color: var(--x-color);
}

header section p:last-child{
    color: var(--o-color);
}

/* Game section */
main > section {
    display: flex;
    flex-direction: column;
    gap: .2rem;
    margin-top: 3rem;
}

/* inputs */
ol{
    display: flex;
    flex-direction: row;
    gap: .2rem;
}

li{
    list-style: none;
    position: relative;

    width: 5rem;
    height: 5rem;
    border-radius: var(--main-border-radius);
    background-color: var(--main-text-color);
}

input{
    height: 5rem;
    width: 5rem;
    font-size: 2rem;
    text-align: center;
    cursor: pointer;
    border-radius: var(--main-border-radius);
    background-color: transparent;
    border: solid;
    position: relative;
    z-index: 1;
    font-family: var(--font-family);
}

.xTurn input:focus{
    outline: 2px solid var(--x-color);

}

.oTurn input:focus{
    outline: 2px solid var(--o-color);
}

/* inputs on hover dynamically with color and letter */
.xTurn:hover{
    background-color: var(--x-color);
}

.xLetter:hover::after{
    content: "X";
    color: var(--main-text-color);
    position: absolute;
    font-size: 2rem;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.oTurn:hover{
    background-color: var(--o-color);
}

.oLetter:hover::after{
    content: "O";
    color: var(--main-text-color);
    position: absolute;
    font-size: 2rem;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/* when inputs are disabled */
input:disabled{
    background-color: var(--cel-disabled);
    color: var(--main-text-color);
}

input:disabled.xWin{
    color: var(--x-color);
}

input:disabled.oWin{
    color: var(--o-color);
}

/* reset button */
button{
    display: flex;
    margin: 2.5rem auto 0;
    padding: .5rem 2rem;

    font-weight: bold;
    font-size: 1.2rem;
    text-transform: uppercase;

    cursor: pointer;

    background-color: var(--main-bg-color);
    color: var(--x-color);

    border: var(--main-border-width) solid var(--x-color);
    border-radius: var(--main-border-radius);

    position: relative;
    transition: .2s ease-in-out;
}

button:hover{
    background-color: var(--x-color);
    color: var(--main-bg-color);
    transform: translateY(-2px);
    box-shadow: var(--cel-disabled) 0px 10px 15px;

    transition: all .2s ease-in-out;
}

button:active{
    transform: translateY(2px);
    transition: .1s ease-in-out;
}

/* result */
#result{
    position: absolute;
    bottom: 5rem;
    left: 50%;
    transform: translateX(-50%);
}
