:root{
    --main-bg-color: #1b1b3a;
    --main-text-color: #eeefff;

    --border-color: #8789C0;
    --main-border-width: 1rem;
    --main-border-radius: .5rem;

    --cel-background: #87afff;
    --cel-disabled: #3A3A5F;
    --x-color: #FF3562;
    --o-color: #ffe62c;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    height: 100vh;
    position: relative;

    background-color: var(--main-bg-color);
    color: var(--main-text-color);

    font-family: 'Roboto', sans-serif;
}

/* title and players */
header > section{
    display: flex;
    gap: 2em;
    justify-content: center;
}

/* Game section */
main > section {
    display: flex;
    flex-direction: column;
    gap: .2rem;
    margin-top: 3rem;
}

/* inputs */
input{
    height: 5rem;
    width: 5rem;
    font-size: 2rem;
    text-align: center;
    cursor: pointer;
    border-radius: var(--main-border-radius);
    background-color: var(--main-text-color);
    border: none;
}

input:enabled{
    transition: .2s ease-out;
}

/* change hover color on turn */
input:enabled.xTurn:hover{
    background-color: var(--x-color);
}

input:enabled.oTurn:hover{
    background-color: var(--o-color);
}

/* when inputs are disabled */
input:disabled{
    background-color: var(--cel-disabled);
    color: var(--main-text-color);
}

input:disabled.xWin{
    color: var(--x-color);
}

input:disabled.oWin{
    color: var(--o-color);
}

/* reset button */
button{
    display: flex;
    margin: 3em auto 0;
    padding: .5rem 2rem;

    font-weight: 700;
    text-transform: uppercase;

    cursor: pointer;

    background-color: var(--main-text-color);
    color: var(--x-color);

    border: none;
    border-radius: var(--main-border-radius);
}

button:hover{
    background-color: var(--x-color);
    color: var(--main-text-color);
}

button:active{
    transform: translateY(2px);
}

/* result */
#result{
    position: absolute;
    bottom: 5rem;
    left: 50%;
    transform: translateX(-50%);
}
